<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <form>
        <h2>Login</h2>

        <input type="text" id="username" name="username" placeholder="Usuario" required>  
        <br>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <div style="color:red;">{{ Label_User_Error }}</div>
        <br>

        <p>Don't have an account? <a href="RegisterComponentComponent">Sign up</a>.</p>
        <button type="button" (click)="clickLogin()">Login</button>      
    </form>

</body>
</html>
